<md-toolbar color="primary">
  <h1>eiel.info</h1>
</md-toolbar>

<md-toolbar (click)="openSns()">
  <h2>利用サービス</h2>
</md-toolbar>

<div *ngIf="pageState == 'sns'">
  <span *ngFor="#service of sns.services">
  <a md-button [href]="service.url">
    {{service.name}}
  </a>
</span>
</div>

<md-toolbar (click)="openCommunity()">
  <h2>参加コミュニティ</h2>
</md-toolbar>
<div *ngIf="pageState == 'community'">
  <div *ngFor="#c of community.items">
  <md-card md-card>
    <md-card-title>
      <a md-button [href]="c.url">{{c.name}}</a>
    </md-card-title>
    <md-card-content>
      {{c.description}}
    </md-card-content>
  </md-card>
</div>
</div>

<md-toolbar (click)="openIOSApplication()">
  <h2>iOSApplication</h2>
</md-toolbar>
<div *ngIf="pageState == 'iOSApplication'">
  <div *ngFor="#a of application.items">
    <md-card md-card>
      <md-card-title>
        <a md-button [href]="a.url">{{a.name}}</a>
      </md-card-title>
      <md-card-content>
        {{a.description}}
      </md-card-content>
    </md-card>
  </div>
</div>

<md-toolbar (click)="openWebsite()">
  <h2>ウェブサイト</h2>
</md-toolbar>
<div *ngIf="pageState == 'Website'">
  <div *ngFor="#item of websites.items">
    <md-card md-card>
      <md-card-title>
        <a md-button [href]="item.url">{{item.name}}</a>
      </md-card-title>
      <md-card-content>
        {{item.description}}
      </md-card-content>
    </md-card>
  </div>
</div>

<md-toolbar (click)="openLink()">
  <h2>その他のリンク</h2>
</md-toolbar>
<div *ngIf="pageState == 'Link'">
  <div *ngFor="#item of links.items">
    <md-card md-card>
      <md-card-title>
        <a md-button [href]="item.url">{{item.name}}</a>
      </md-card-title>
      <md-card-content>
        {{item.description}}
      </md-card-content>
    </md-card>
  </div>
</div>
