.title {
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  font-weight: lighter;
}

.h1 {
  margin-top: 4em;
  font-size: 1.1em;
}

.site {
  padding-left: 0;
  list-style: none;
  margin-bottom: 4em;
}

.site li {
  margin-top: 3em;
}

.site li:first-child {
  margin-top: 0;
}

.catchcopy {
  text-align: center;
  font-weight: normal;
  display: block;
  margin: 4em 0;
}

.catchcopy small {
  display: block;
  font-size: 0.9em;
}

@media screen and (min-width: 320px) {
  .catchcopy strong{
    font-size: 1.3em;
  }
}

@media screen and (min-width: 375px) {
  .catchcopy {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 486px) {
  .catchcopy {
    font-size: 1.6em;
  }
}

.lead {
  margin: 0 0 4em 0;
}

.bannar {
  margin: 3em 2em;
}
