.button {
  display: flex;
  box-sizing: border-box;
  min-width: 100px;
  min-height: 44px;
  justify-content: center;
  align-items: center;

  color: seagreen;
  border: seagreen 1px solid;
  text-decoration-line: none;
}
