body {
  margin: 10px 16px;
  line-height: 1.5;
  color: #333;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

h1 {
  color: #000;
}

p {
  margin: 0.8em 0;
}

a {
  color: seagreen;
}

@media screen and (min-width: 496px) {
  :global #root {
    width: 480px;
    margin: auto;
  }
}
